
<div class="container">
  <h2>Productos</h2>
  <table class="table table-bordered">
    <thead>
       
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Stock</th>
      </tr>
      
    </thead>

    <tbody> {{#each products}}
      <tr>
        <td>{{code}}</td>
        <td>{{title}}</td>
        <td>{{price}}</td>
        <td>{{status}}</td>
        <td>{{stock}}</td>
        <td>
          <button type="button" class="btn btn-success" onclick="re">addToCart</button>
        </td>
      </tr>{{/each}}
  </table>

  <!-- Pagination -->
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</div>